* {
  margin: 0;
  padding: 0;;
}

body {
  width: 855px;
  margin: auto;
  font-size: 100%;
  font-family: sans-serif;
}

header {
  overflow: auto;
  border-bottom: 1px solid gainsboro;
}

h1 {
  float: left;
}

header p {
  float: right;
  width: 570px;
  font-style: italic;
  margin-top: 10px;
}

main {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid gainsbourg;
}

.comment-input {
  float: left;
  width: 285px;
}

.comments p:nth-child(even) {
  background: lavender;
}

.comments p:nth-child(odd) {
  background: gainsboro;
}
